*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: rgb(247, 247, 247);
}
.search-bar {
  width: 100%;
  max-width: 650px;
  background: rgba(255,255,255,.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px;
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-family: inherit;
  text-align: center;
}

::placeholder{
  color: rgb(0, 0, 0);
}

.search-bar button img{
  width: 25px;
}

.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: rgba(30, 215, 95, 0.7);
  cursor: pointer;

}